# Configuración Base de Datos Local
DB_HOST=db
DB_NAME=cambiar
DB_USER=cambiar
DB_PASSWORD=cambiar
DB_PORT=5432
FLASK_ENV=production

MAIL_USERNAME=cambiar
MAIL_PASSWORD=cambiar

# Al usar Render se utilizará automáticamente DATABASE_URL provisto por la plataforma.
# DATABASE_URL=postgresql://user:pass@host/db
