# Configuración Base de Datos Local
DB_HOST=localhost
DB_NAME=bolsa_trabajo_uto
DB_USER=postgres
DB_PASS=angel123
DB_PORT=5432

# Al usar Render se utilizará automáticamente DATABASE_URL provisto por la plataforma.
# DATABASE_URL=postgresql://user:pass@host/db
